{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class = "table table-striped text-left">
        <thead>
            <th>
                Symbol
            </th>
            <th>
                Trade
            </th>
            <th>
                Shares
            </th>
            <th>
                Price
            </th>
            <th>
                Date and Time
            </th>
        </thead>
        {% for stock in stocks: %}
            <tr>
                <td> {{ stock["symbol"] }} </td>
                {% if stock["shares"] < 0 %}
                    <td> Sold </td>
                {% else %}
                    <td> Bought </td>
                {% endif %}
                <td> {{ stock["shares"] }} </td>
                <td> {{ "$%.2f"|format(stock["cost"]) }} </td>
                <td> {{ stock["datetime"] }} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
